@use "./variables.scss" as *;

.section-li .meta {
  display: none;
}

.section-li {
  display: flex !important;
  flex-direction: column !important;
}

.section-li a {
  width: auto !important;
  white-space: normal !important;
  flex: 1;
}