@use "./variables.scss" as *;

.section-li .meta {
  display: none;
}

.section-li {
  display: flex !important;
  flex-direction: column !important;
}

.section-li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.page > #quartz-body::after {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  background-image: url('/static/garden-01.jpg');
  background-size: cover;
  background-position: center;
}

footer {
  position: relative;
  margin-top: -200px;
  z-index: 1;
  background: transparent;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer p, footer ul {
  background: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 0.3rem 0.6rem;
  margin: 0;
  width: fit-content;
}

footer a {
  color: #3a5a3a;
}

.page {
  padding-bottom: 0;
}